# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### Monday Refreshers

In [4]:
my_string= "Steve"
my_string = my_string.lower()
print(my_string)

steve

##### Using 'or' in if statements

In [ ]:
# covered yesterday

##### Using 'and' in if statements

In [ ]:
# covered yesterday

##### Using both 'or' and 'and' in if statements

In [ ]:
# covered yesterday

### String Manipulation

##### .lstrip()

In [6]:
# .(something)() = method
# functions have no dots

name = "  Zak  "
name = name.lstrip()
print(name)

Zak

##### .rstrip()

In [7]:
name = "  Zak  "
name = name.rstrip()
print(name)

  Zak

##### .strip()

In [8]:
name = "  Zak  "
name = name.strip()
print(name)

Zak

In [15]:
name = "Kenny"
name = name.strip("")
print(name)

Kenny

In [16]:
name = "Kenny"
name = name.replace("n", "")
print(name)

Key

##### .title()

In [18]:
my_string= "Hey ho LEt's go"
print(my_string.lower())
print(my_string.upper())
print(my_string.title())

hey ho let's go
HEY HO LET'S GO
Hey Ho Let'S Go

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [27]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
for name in names:
    name = name.title().strip()
    print(name)

Connor
Max
Evan
Jordan

### Working With Lists

##### min()

In [28]:
my_list = [88, 56, 235, 4, 55, 846, 51, 1]
my_min = min(my_list)
print(my_min)

1

##### max()

In [ ]:
my_list = [88, 56, 235, 4, 55, 846, 51, 1]
my_max = max(my_list)
print(my_max)

##### sum()

In [29]:
my_list = [88, 56, 235, 4, 55, 846, 51, 1]
my_sum = sum(my_list)
print(my_sum)

1336

##### sorted()

In [36]:
# returns a copy of the array in sorted order THIS IS OUT OF PLACE
my_list = [88, 56, 235, 4, 55, 846, 51, 1]
my_sorted = sorted(my_list)
print(my_sorted)
rev_list=print(sorted(my_list, reverse=True))

[1, 4, 51, 55, 56, 88, 235, 846]
[846, 235, 88, 56, 55, 51, 4, 1]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [37]:
# list.sort() # WORKS IN PLACE
my_list = [88, 56, 235, 4, 55, 846, 51, 1]
print(my_list.sort())
print(my_list)

None
[1, 4, 51, 55, 56, 88, 235, 846]

In [39]:
my_list = [88, 56, 235, 4, 55, 846, 51, 1]
my_list.sort(reverse=True)
print(my_list)

[846, 235, 88, 56, 55, 51, 4, 1]

##### Copying a List

In [42]:
# [:] copies a list, doesn't alter original
my_list1 = [1,2,3,4,5]
my_list2 = my_list1 # This may be dangerous because the lists are both the same object
my_list2.append(6)
print(my_list2)
print(my_list1)

print(id(my_list1))
print(id(my_list2)) #output is human readable version of address

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
2286595855424
2286595855424

In [43]:
my_list1 = [1,2,3,4,5]
my_list2 = my_list1.copy()

print(id(my_list1))
print(id(my_list2))

2286595820352
2286595090176

In [46]:
my_list1 = [1,2,3,4,5]
my_list2 = my_list1[:]

print(id(my_list1))
print(id(my_list2))

2286595854720
2286595855424

##### 'in' keyword

In [48]:
5 in [1,2,3,4] # this is a boolean

False

In [52]:
if 5 in [1,2,3,4]: # what comes after the 'if' in an 'if statement' is a 'boolean'
    print("hey")
else: 
    print("bye")

bye

In [53]:
def my_in(): #this is a double loop, DON'T DO THIS!
    for num in [1,2,3,4]:
        if num == 5:
            return True
    return False

##### 'not in' keyword

In [54]:
5 not in [3,4,6]

True

##### Checking an Empty List

In [59]:
my_list = []
if not my_list:
    print("your list is empty...dumbass")
if my_list:
    print("You don't remember writing a list?")
if len(my_list) == 0:
    print("List is still empty dumbass!")
if my_list == []:
    print("Instead of a list, how about my foot in your ass?")
print("-Red Foreman")

your list is empty...dumbass
List is still empty dumbass!
Instead of a list, how about my foot in your ass?
-Red Foreman

##### Removing Instances with a Loop

In [ ]:
# while, remove
names = ["Kristina", "Chelsey", "Kristina", "Wade", "Ryan"]

names.remove("Kristina")
names

In [62]:
names = ["Kristina", "Chelsey", "Kristina", "Wade", "Ryan"]
while "Kristina" in names:
    names.remove("Kristina")
    print('the list is now', names)
print('final list is', names)

the list is now ['Chelsey', 'Kristina', 'Wade', 'Ryan']
the list is now ['Chelsey', 'Wade', 'Ryan']
final list is ['Chelsey', 'Wade', 'Ryan']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [71]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
for name in names:
    if name == name:
        names.remove(name)
    print(name)

connor
bob
evan
evan
2
3
4
kevin

In [72]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']

newnames = []

for name in names:
    if name not in newnames:
        newnames.append(name)
        
print(newnames)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [76]:
nums = []
for i in range(100):
    nums.append(i)
print(nums)

nums_comp = [i for i in range(100)]
print(nums_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
nums =[]
for i in range(10):
    nums.append(i**2)
print(nums)

nums_comp = [i**2 for i in range(10)]
print(nums_comp)

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [104]:
names = ["Frances", "Zavier", "Kenny", "Jayden", "David", "Caleb"]
first_char_comp = [x[0] for x in names]
print(first_char_comp)

['F', 'Z', 'K', 'J', 'D', 'C']

In [91]:
# What if we needed an if statement?????

names = ["Frances", "Zavier", "Kenny", "Jayden", "David", "Caleb"]

five_letter_names = []
for name in names:
    if len(name)==5:
        five_letter_names.append(name)
    else:
        five_letter_names.append("Not a 5 letter name")
print(five_letter_names)

names = ["Frances", "Zavier", "Kenny", "Jayden", "David", "Caleb"]

five_letter_names_comp = [name for name in names if len(name)==5]
print(five_letter_names_comp)

five_letter_names_comp_with_else = [name if len(name)==5 else "Not 5" for name in names]
print(five_letter_names_comp_with_else)

['Not a 5 letter name', 'Not a 5 letter name', 'Kenny', 'Not a 5 letter name', 'David', 'Caleb']
['Kenny', 'David', 'Caleb']
['Not 5', 'Not 5', 'Kenny', 'Not 5', 'David', 'Caleb']

In [94]:
la = [1,2,3,4,5]
lb = ["A","B","C","D"]

let_num=[]
for number in la:
    for letter in lb:
        let_num.append(f'{number}{letter}')
print(let_num)

['1A', '1B', '1C', '1D', '2A', '2B', '2C', '2D', '3A', '3B', '3C', '3D', '4A', '4B', '4C', '4D', '5A', '5B', '5C', '5D']

In [95]:
let_num_comp = [f'{number}{letter}' for number in la for letter in lb]
print(let_num_comp)

['1A', '1B', '1C', '1D', '2A', '2B', '2C', '2D', '3A', '3B', '3C', '3D', '4A', '4B', '4C', '4D', '5A', '5B', '5C', '5D']

In [96]:
sentence = ["Today","is","the","day","that's","gonna","bring","me","back","to","you"]

letters=[]
for word in sentence:
    for letter in word:
        letters.append(letter)
        
print(letters)

['T', 'o', 'd', 'a', 'y', 'i', 's', 't', 'h', 'e', 'd', 'a', 'y', 't', 'h', 'a', 't', "'", 's', 'g', 'o', 'n', 'n', 'a', 'b', 'r', 'i', 'n', 'g', 'm', 'e', 'b', 'a', 'c', 'k', 't', 'o', 'y', 'o', 'u']

In [97]:
letters_comp=[letter for word in sentence for letter in word]
print(letters_comp)

['T', 'o', 'd', 'a', 'y', 'i', 's', 't', 'h', 'e', 'd', 'a', 'y', 't', 'h', 'a', 't', "'", 's', 'g', 'o', 'n', 'n', 'a', 'b', 'r', 'i', 'n', 'g', 'm', 'e', 'b', 'a', 'c', 'k', 't', 'o', 'y', 'o', 'u']

In [ ]:
# Ex.............

# given a list use a list comprehension to give me the 
# last letter of each word capitalized
my_list=["steve","susan","jake","troy"]
#output 
#["E", "N", "E", "Y"]

In [99]:
my_list=["steve","susan","jake","troy"]

In [112]:
my_list=["steve","susan","jake","troy"]
my_list_comp=[x.upper()[-1] for x in my_list]
print(my_list_comp)

['E', 'N', 'E', 'Y']

In [113]:
my_list = [0,1,2,3]
my_list[2]=44
my_list

[0, 1, 44, 3]

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [118]:
my_tup = (1,2,3)
print(type(my_tup))
my_tup = 1,2,3
print(type(my_tup))

<class 'tuple'>
<class 'tuple'>

In [119]:
# these are empty tuples but are basically useless
t2 = tuple()
t3 = ()

In [120]:
my_tup = ("Ryan", "Tilahun", "Wade", "Zak")
my_tup[2]

'Wade'

In [121]:
my_tup.index("Wade")

2

In [122]:
my_tup.replace("Wade","Alex") #TUPLES CAN'T APPEND, REPLACE OR REMOVE

AttributeError: 'tuple' object has no attribute 'replace'

In [125]:
new_tup = my_tup + ("Chelsey", "Caleb")
print(new_tup)

('Ryan', 'Tilahun', 'Wade', 'Zak', 'Chelsey', 'Caleb')

##### sorted()

In [127]:
sorted_tup = sorted(new_tup)
print(sorted_tup)

['Caleb', 'Chelsey', 'Ryan', 'Tilahun', 'Wade', 'Zak']

##### Adding values to a Tuple

In [ ]:
#Reconstruct the tuple and add values
#done above

In [129]:
tup4 = (1,2,3,["A", "B","C"],4)
tup4[3][0]="Hello"
tup4
#I can edit the LIST inside of the TUPLE

(1, 2, 3, ['Hello', 'B', 'C'], 4)

## Functions

##### User-Defined vs. Built-In Functions

In [132]:
# built-in functions
    # print, type, help, sorted, list, int, float, tuple, str, abs, min, max
    
def say_hello(): #This defines the function to save it for letter
    print("Hello World")
    
say_hello()    #the parenthesis executes the function

print(say_hello()) #python works from the inside out

Hello World
Hello World
None

In [134]:
def say_hello():
    return "Hello World"

print(type(say_hello()))
print(type(say_hello))
say_hello()

<class 'str'>
<class 'function'>

'Helloo World'

##### Accepting Parameters

In [136]:
# Order matters
# A variable can be any type of object

def print_full_name(first_name, last_name):
    print(f"{first_name} {last_name}")
    
print_full_name('Caleb', 'Reeves')

Caleb Reeves

##### Default Parameters

In [139]:
def agent_name(first, last="Bond"):
    print(f"Your agent name is {last}, {first} {last}")
    
agent_name("Caleb", "Reeves")

Your agent name is Reeves, Caleb Reeves

##### Making an Argument Optional

In [144]:
def make_name(first, last, middle=''):
    print(f"Hello {first} {middle} {last}")
make_name('Kevin','Beier')

Hello Kevin  Beier

In [147]:
def what_datatype():
    return ['Hey', 123, (4,5)]
what_datatype()[1]/2

61.5

In [148]:
def dead_code(): # Unreachable Code
    #After return the function stops
    print("hello")
    return
    print("Goodbye") # this is unreachable!!!!!!!!
    
dead_code()

hello

##### \*args \**kwargs

In [150]:
def my_func(name,*args):
    print(name)
    for arg in args:
        print("The first/next arg is:", arg)
        
my_func("Shazaib", 2,4,6,8,10)

Shazaib
The first/next arg is: 2
The first/next arg is: 4
The first/next arg is: 6
The first/next arg is: 8
The first/next arg is: 10

In [151]:
#arg = argument | kwarg = Key Word Argument
def my_func(name, **kwargs):
    #**kwargs come in as a dict (dictionary)
    for key in kwargs:
        print(key, kwargs[key])
        
my_func('Kevin', height=72, weight=170, foods=["pizza", "tacos", "dimsum"])

height 72
weight 170
foods ['pizza', 'tacos', 'dimsum']

##### *args

In [ ]:
#stands for arguments, takes ANY number of arguments as parameters
#must be last if multiple parameters are presents

# Creating a start, stop, step function

In [156]:
def my_range(stop, start=0, step=1):
    for i in range(start, stop, step):
        print(i)
        
my_range(10,5,3)

5
8

##### Returning Values

##### Docstring

In [159]:
def my_function(name,age):
    """
    takes in a name and an age and returns a formatted string and tells the names age
    [name] = string
    [age] = integer
    """
    return f"{name} is {age}"

my_function('your mom', 'old')

'your mom is old'

In [160]:
help(my_function)

Help on function my_function in module __main__:

my_function(name, age)
    takes in a name and an age and returns a formatted string and tells the names age
    [name] = string
    [age] = integer

##### Using a User Function in a Loop

In [161]:
def add_two(n):
    print(n+2)
    
while True:
    ask = int(input("What is your number???"))
    add_two(ask)
    response=input("Ready to quit? [type quit]")
    if response.lower()=="quit":
        break

What is your number???12
14
Ready to quit? [type quit]14
What is your number???12
14
Ready to quit? [type quit]quit

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [ ]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [ ]:
#placement of variable declaration matters

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [190]:
# Use the following list - [1,11,14,5,8,9]

def my_list(num_list):
    return [n for n in num_list if n < 10]

print(my_list([5,15,8,20,1,11,14,5,8,9]))
    
    #using list comprehension using return
# defining the function in line 3
# defining the return with a comprehension list 'n' for number and calling the list with 'num_list'
# setting the parameters of what to return at the end of the comprehension list in line 4
# printing the executed function with defined list

[5, 8, 1, 5, 8, 9]

In [178]:
def my_func(*args):
    for arg in args:
        if arg < 10:
            print(arg)
        
my_func(2,4,6,8,10,12,14)

#using *args

2
4
6
8

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [189]:
a_list = [9,8,7,6,5]
a_list_2 = [0,1,2,3,4]

def combine_lists(list1,list2):
    return sorted(list1+list2)

print(combine_lists(a_list,a_list_2))

#defining lists in line 1 and 2
#creating the function with 2 lists in line 4
# setting return arument with sorting and combining the lists
#printing the executed function

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]